body, html {
  padding: 0px;
  margin: 0px;
}
body {
  text-transform: uppercase;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  overflow-y:hidden;
  overflow-x:scroll;
}
img {
  padding: 0px;
  margin: 0px;
}
input {
  text-transform: uppercase;
  position: fixed;
  top: 45%;
  left: 25%;
  width:45%;
  height: 10%;
  background-color: transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 3em;
  border: none;
  outline: none;
}
#download_button{
  position: fixed;
  height: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
  font-size: 1em;
  text-align: left;
  width:12em;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  text-decoration:none;
}
#author {
  position: fixed;
  height: 1.5em;
  bottom: 1.5em;
  right: 2em;
  font-size: 1em;
  width:30em;
  text-align: right;
}
a:hover {
  color: gray;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: fixed;
  height: 1.5em;
  top: 1.5em;
  right: 1.5em;
  width:11em;
  font-size: 1em;
  text-align: right;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  background-color: inherit;
}
#triangle {
  position: fixed;
  height: 1em;
  top: 1.7em;
  right: 13em;
  width:2em;
  font-size: 1em;
  text-align: right;
}
.dark select option {
  background-color:black;
}
.dark, .dark input, .dark select, .dark a, .dark a:visited {
  color: white;
}
.light, .light input, .light select, .light a, .light a:visited {
  color: black;
}
.dark {
  background-color: black;
}
.light {
  background-color: white;
}
::-webkit-scrollbar { 
  height:10px;
  background-color:transparent;
}
::-webkit-scrollbar-button { 
  width:10px;
}
body.light::-webkit-scrollbar-thumb,body.light::-webkit-scrollbar-button { 
  background-color:#000;
}
body.dark::-webkit-scrollbar-thumb,body.dark::-webkit-scrollbar-button { 
  background-color:#fff;
}
